@import "~bootstrap/scss/bootstrap";

$bg-color: #f8f9fa;
$primary-color: #007bff;

body {
  background-color: $bg-color;
}

.logo {
  color: $primary-color;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.post-form {
  textarea {
    resize: none;
  }
}

.post-thumbnail {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  .post-author {
    color: $primary-color;
  }
}
